body {
    font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
    padding-bottom: 50px;

}
/*
body {
    font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
    padding-bottom: 50px;
    margin: 0 auto;
    padding: 0;
    background: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
}*/
span{
    padding-left: 10px;
}
h3 {
}
li {
    padding: 10px;
    margin: 0;
}
ul {
    padding: 10px;
    margin: 0;
}
/*
table {
    width: 1400px;
    margin: 0 50px 0 50px;
}
td {
    width: 50%;
    vertical-align: top;
    padding-right: 60px;
}*/
.hover-underline {
    text-decoration: none;
}
.hover-underline:hover {
    text-decoration: underline;
}

#radar > g:nth-child(1) > g:nth-child(1) > text{
    font-size: 24px !important;

}




.page {
    display: inline-block;
    position: relative;
    height: 297mm;
    width: 210mm;
    font-size: 12pt;
    margin: 1em auto;
    padding: 30px;
    box-shadow: 0 0 0.1cm rgba(0, 0, 0, 0.5);
    background: white;
}


@media screen {
    .page::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: calc(100% - var(--bleeding) * 2);
        height: calc(100% - var(--bleeding) * 2);
        margin: var(--bleeding);
        outline: thin dashed black;
        pointer-events: none;
        z-index: 9999;
    }
}

@media print {
    .page {
        margin: 0;
        overflow: hidden;
    }
}

.div-table {
    display: table;
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}
.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: auto;
    margin: 5px;
}
div{
    #border: 1px solid #666666;
}
.row{
    display: table-row;
    width: auto;
    clear: both;
}
div#notes{
   width: 60px;

}